@{
    ViewData["Title"] = "YUJCSR";
    Layout = "_Layout";
}

<div class="about-us-wrapper">
    <div class="mission-vision-wrapper">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="mission-wrapper">
                    <div class="mission-container">
                        <div class="title">
                            Our Mission
                        </div>

                        <div class="description">
                            To enhance the impact of a wide range of environment well being initiatives and endeavours
                            by
                            coherent engagement of all the stakeholders involved.
                            1x
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 p-0 image-wrapper">
                <img src="/Assets/images/AboutUs-page/mission.svg" alt="" />

            </div>
            <div class="col-lg-6 p-0 image-wrapper">
                <img src="/Assets/images/AboutUs-page/vision.svg" alt="" />
            </div>
            <div class="col-lg-6 p-0">
                <div class="vision-wrapper">
                    <div class="vision-container">
                        <div class="title">
                            Our Vision
                        </div>

                        <div class="description">
                            To act as enablers by providing holistic support to people and organisations driven towards
                            environment restoration, preservation and maintaining a sustainable ecosystem for all.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="development-goals-section py-5">
        <div class="container">
            <h2 class="text-center mb-5 lh-sm w-75 mx-auto">
                Sustainable Development Goals
                That We Address Through Our Projects
            </h2>

            <div class="container">
                <div class="goals-wrapper">
                    <img src="/Assets/images/AboutUs-page/Development-goals/clean-water.svg" alt="" />
                    <img src="/Assets/images/AboutUs-page/Development-goals/clean-energy.svg" alt="" />
                    <img src="/Assets/images/AboutUs-page/Development-goals/sustainable-cities.svg" alt="" />
                    <img src="/Assets/images/AboutUs-page/Development-goals/climate-action.svg" alt="" />
                    <img src="/Assets/images/AboutUs-page/Development-goals/life-below-water.svg" alt="" />
                    <img src="/Assets/images/AboutUs-page/Development-goals/life-on-land.svg" alt="" />
                    <img src="/Assets/images/AboutUs-page/Development-goals/good-health.svg" alt="" />
                    <img src="/Assets/images/AboutUs-page/Development-goals/industry-innovation.svg" alt="" />
                    <img src="/Assets/images/AboutUs-page/Development-goals/partnership.svg" alt="" />
                </div>
            </div>
        </div>
    </div>

    <div class="team-wrapper p-5">
        <div class="container">
            <h2 class="text-center lh-sm">
                Meet the Team
            </h2>

            <h4 class="text-center captiion mb-5 lh-sm">
                Meet our team of professionals to serve you
            </h4>
        </div>

        <div class="team-member-list container-lg">

            <div class="member-card">
                <div class="row">
                    <div class="col-sm-3 member-image-wrapper">
                        <img class="img-fluid" src="/Assets/images/AboutUs-page/Team/1.svg" />
                    </div>

                    <div class="col-sm-9 member-description-wrapper">
                        <div class="member-name">
                            Mr. Priyank Shah
                        </div>
                        <div class="member-designation">
                            Founding director
                        </div>
                        <p class="member-description">
                            An Architect and a qualified C.S.R professional.
                        </p>
                        <p class="member-description">
                            With an experience of above 8 years in the field of Urbanism and city development through community action. He has conceptualized and executed multiple projects with the help of various stakeholders from the industry. He has been the Chief Architect of Vadodara Smart City Development Ltd. Working with the goal of smart utilization of Vadodara City's potential for enhancing the quality of life for the citizens and providing access to better quality physical
                            infrastructure, social infrastructure, and mobility through collective design solutions.
                        </p>
                        <p class="member-description">
                            Thus, being instrumental in making the city sustainable and futuristic with a focus on enhancing the economy, protecting the ecology, and preserving the identity of the city. He has also developed and coordinated various CSR projects in affiliation with prominent NGOs, stakeholders, and public & private organizations.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="member-card">
                        <div class="row">
                            <div class="col-sm-3 member-image-wrapper">
                                <img class="img-fluid" src="/Assets/images/AboutUs-page/Team/2.svg" />
                            </div>

                            <div class="col-sm-9 sub-member-description-wrapper">
                                <div class="member-name">
                                    Ms. Priti
                                    Chawda
                                </div>
                                <div class="member-designation">
                                    Advisor
                                </div>                              
                            </div>
                        </div>

                        <div class="mt-3 sub-member-description-wrapper">
                            <p class="member-description">
                                The CSR and HR advisor with YUJ CSR. She is a Human Resource Management professional with an experience in HR and administration in a dynamic environment in public sector. She is a qualified CSR professional and has developed and coordinated various CSR projects with multiple
                                stakeholders and NGO's in the Public and Private Sectors. She is an international Table Tennis ex-player, a level 2 international TT coach and an international TT umpire, who believes in fitness, preservation of the environment, and sustainability.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="member-card">
                        <div class="row">
                            <div class="col-sm-3 member-image-wrapper">
                                <img class="img-fluid" src="/Assets/images/AboutUs-page/Team/3.svg" />
                            </div>

                            <div class="col-sm-9 sub-member-description-wrapper">
                                <div class="member-name">
                                    Dr. Bhairavi
                                    Joshi
                                </div>
                                <div class="member-designation">
                                    Advisor
                                </div>
                            </div>
                        </div>

                        <div class="mt-3 sub-member-description-wrapper">
                            <p class="member-description">
                                The Strategic advisor with YUJ CSR. She is currently the CEO and Director of BYCS India. With a vision in mind to see India transform into a cycling nation she came up with the idea of setting up the BYCS India foundation. She owns some exceptional titles in her name.
                            </p>
                            
                            <p class="member-description">
                                She is a committee member of Cycling for Health at the Health Ministry, Government of India. She is the core team member with Clean coast, Safe seas and Ministry of Earth Sciences.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="member-card">
                        <div class="row">
                            <div class="col-sm-3 member-image-wrapper">
                                <img class="img-fluid" src="/Assets/images/AboutUs-page/Team/4.svg" />
                            </div>

                            <div class="col-sm-9 sub-member-description-wrapper">
                                <div class="member-name">
                                    Amit
                                    Chaudhri
                                </div>
                                <div class="member-designation">
                                    Advisor
                                </div>
                            </div>
                        </div>

                        <div class="mt-3 sub-member-description-wrapper">
                            <p class="member-description">
                                A Law graduate from Campus Law Centre, Delhi University did his Masters in Marketing Management from Jamnalal Bajaj Institute, Mumbai. He retired early from the Indian Railway Traffic Service. He has rich and varied experience of 34 years of serving the Government, Public Sector, Cooperative, Joint Venture and Private Sector enterprises. He is active in social service and has been pursuing his legal passion.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="member-card">
                        <div class="row">
                            <div class="col-sm-3 member-image-wrapper">
                                <img class="img-fluid" src="/Assets/images/AboutUs-page/Team/5.svg" />
                            </div>

                            <div class="col-sm-9 sub-member-description-wrapper">
                                <div class="member-name">
                                    Dr. Ankur
                                    Saxena
                                </div>
                                <div class="member-designation">
                                    Advisor
                                </div>
                            </div>
                        </div>

                        <div class="mt-3 sub-member-description-wrapper">
                            <p class="member-description">
                                The Academic  Advisor with Yuj CSR. He is professor at the Faculty of Social Work, Maharaja Sayajirao University of Baroda. He has experience in the areas of social work, human resources management, CSR and medical & psychiatric social work. He has a teaching experience of 21 years. He has 7 books and 20 articles published in his name. He is also a Ph.D. guide and 8
                                of his Ph.D. students have been awarded in various fields.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="member-card">
                        <div class="row">
                            <div class="col-sm-3 member-image-wrapper">
                                <img class="img-fluid" src="/Assets/images/AboutUs-page/Team/6.svg" />
                            </div>

                            <div class="col-sm-9 sub-member-description-wrapper">
                                <div class="member-name">
                                    Mrs. Shreya
                                </div>
                                <div class="member-designation">
                                    Advisor
                                </div>
                            </div>
                        </div>

                        <div class="mt-3 sub-member-description-wrapper">
                            <p class="member-description">
                                An Urban Planning Advisor with Yuj CSR. She is a green development specialist. She is GREEN INDUSTRY CONSULTANT. She is the director of HARMONY, professional practice based at Vadodara, which specializes in ‘Green Industries’.  Her company is one‐stop consulting solution for industries. She has been able to successfully design and implement ‘low carbon footprint’ campuses, in recent years. She is an architect and urban planner having 20 years of experience in professional consultancy, research and teaching
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="member-card">
                        <div class="row">
                            <div class="col-sm-3 member-image-wrapper">
                                <img class="img-fluid" src="/Assets/images/AboutUs-page/Team/7.svg" />
                            </div>

                            <div class="col-sm-9 sub-member-description-wrapper">
                                <div class="member-name">
                                    Dr. Payal Desai
                                </div>
                                <div class="member-designation">
                                    Advisor
                                </div>
                            </div>
                        </div>

                        <div class="mt-3 sub-member-description-wrapper">
                            <p class="member-description">
                                The Ecology and Environment expert with Yuj CSR. She is an assistant professor at the Faculty of Environment Science, Maharaja Sayajirao University of Baroda. Her forte includes field ecology, environmental economics, environmental law and conservation science. She has worked as a project manager with national and international organizations active in the fields of ecology and conservation. She is a passionate researcher and has been a guide for more than 30 students in their dissertation projects.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="member-card">
                        <div class="row">
                            <div class="col-sm-3 member-image-wrapper">
                                <img class="img-fluid" src="/Assets/images/AboutUs-page/Team/8.svg" />
                            </div>

                            <div class="col-sm-9 sub-member-description-wrapper">
                                <div class="member-name">
                                    Mr. Ramveer
                                    Tanwar
                                </div>
                                <div class="member-name">
                                    (Pond Man)
                                </div>
                                <div class="member-designation">
                                    Advisor
                                </div>
                            </div>
                        </div>

                        <div class="mt-3 sub-member-description-wrapper">
                            <p class="member-description">
                                A much-celebrated Environmentalist and TEDx Speaker, based in Greater Noida has been passionate about water conservation since his student life. He started his campaign called Jal Chaupal in Gautam Budhha Nagar, Uttar Pradesh; urged people to conserve water and to save natural resources like ponds, lakes & Wetlands. He got trained by The Central Pollution Control Board (CPCB), MOEF, and Govt. of India. Presently Mr. Tanwar is the founder of Say Earth NGO. Ramveer Tanwar praised by Honorable Prime Minister Shri Narendra Modi in Mann Ki Baat and facilitated two times by Honorable Chief Minister, Uttar Pradesh Shri Yogi Adityanath. He has been declared as recent Brand Ambassador of Swachh Bharat Mission, Ghaziabad and appointed district coordinator of the Bhujal-Sena (Groundwater Force)' by Government of Uttar Pradesh.
                                Mr. Tanwar has contributed to restore and rejuvenate 40+ ponds and lakes in all over India. Besides this Mr. Tanwar has major contribution in development and maintenance of 8 urban forests. He has been a part of many related projects and on panel consultant for various corporate and public endeavors.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="member-card">
                        <div class="row">
                            <div class="col-sm-3 member-image-wrapper">
                                <img class="img-fluid" src="/Assets/images/AboutUs-page/Team/9.svg" />
                            </div>

                            <div class="col-sm-9 sub-member-description-wrapper">
                                <div class="member-name">
                                    Nehmat Mongia
                                </div>
                                <div class="member-designation">
                                    Advisor
                                </div>
                            </div>
                        </div>

                        <div class="mt-3 sub-member-description-wrapper">
                            <p class="member-description">
                                Nehmat Mongia, a young 26 years old designer who has graduated with a Masters Degree from the National Institute of Design, Ahmedabad, a National Awardee in Fine Arts and has many other credits to herself not only in the field of art and design but academics as well. She has also been a Gold Medalist in Air Pistol Shooting in the under 16 yrs category at National Level.
                            </p>
                            <p class="member-description">
                                Nehmat has been creating meaningful impact by amalgamating sustainable materials, traditional Indian crafts, and modern aesthetics into unique installations, products and artworks.
                                She has been working from a very young age with a wide range of clients from the hospitality sector, NGOs, government organizations, and has exhibited her artwork with various galleries nationally and internationally.
                            </p>
                            <p class="member-description">
                                She has always believed and says that - “ The beautiful ensemble of mother nature created by The Creator has always provided her with the inspiration for her designs & artworks. The search to find forms within the matter of living or non-living which may have existed or may be striving to exist even today, has always kindled the imaginative curiosity within her.”
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>


