@{
    ViewData["Title"] = "YUJCSR";
    Layout = "_Layout";
}

<div class="contact-wrapper">
    <div class="row">
        <div class="col-lg-6 p-0">
            
        </div>
        <div class="col-lg-6 p-5">
            <div class="w-50 m-auto">
                

				<form action="" method="post" role="form" class="w-100">

					<h2 class="mb-3">
						Lets Get In Touch
					</h2>

					<div class="form-group">
						<label for="name" class="">Name</label>
						<input placeholder="Type Name" type="email" class="form-control" id="name">
					</div>

					<div class="form-group">
						<label for="org" class="">Organization</label>
						<input placeholder="Type Organization" type="text" class="form-control" id="org">
					</div>

					<div class="form-group">
						<label for="email" class="">Email</label>
						<input placeholder="Type Email" type="email" class="form-control" id="email">
					</div>
					<div class="form-group">
						<label for="msg" class="">Message</label>
						<input placeholder="Type Message" type="text" class="form-control" id="msg">
					</div>
					<div class="form-group   text-center">
						<input type="submit" value="Login" class="btn btn-primary w-100" />
					</div>

				</form>
            </div>
        </div>
    </div>

	<div class="address-wrapper text-center p-5">
		<div class="address-label">Registered Address:</div>
		<div class="address">
			B-29, Sainath Park Society, Opp. Kalyan Party Plot, Vasna, Vadodara - 390015
		</div>

		<div class="d-flex justify-content-center gap-4">
			<span class="email">Email: yujcsr@gmail.com</span>|<span class="Tel">Tel: 91 7990515758</span>
		</div>

		<div class="container-lg mt-5">
			<iframe class="w-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1845.872086020068!2d73.23973594865338!3d22.28767871366602!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395fc56de3c873fd%3A0xa2e3ac6f48353646!2sSainath%20Park%20Society%2C%20Goverdhan%20Twp%2C%20Kendranagar%2C%20Vadodara%2C%20Gujarat%20390025!5e0!3m2!1sen!2sin!4v1706642097797!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		</div>
	</div>
</div>